body{
background-color:black;    
}
p{
	color:white;
    font-family:VT323;    
}
.box{
	border: solid white 5px;
    display:flex;
    justify-content:space-around;
    width:500px;
    margin-left:auto;
    margin-right:auto;
}
.title{
	text-align:center;
    font-size:30px;
}
.select,.select1{
	font-size:30px;    
}
.all{
	margin-top:200px;
}
.select:hover,.select1:hover{
	color:grey;    
}
.all2,.all3,.all4{
   display:none;    
}
.eye{
	margin-left:500px;
    background-size:cover;
    min-height:75vh;
    margin-top:100px;
    display:none;
}
.garden{
	width:30%;
	display:block;
    margin-top:40px;
    margin-left:auto;
    margin-right:auto;
}
.garden1{
	display:none;    
}
.deathtext{
	font-family:creepster;
    text-align:center;
    display:none;
    color:red;
    border:solid black 2px;
    font-size:40px;
}
.deathtext1{
	display:none;
    text-align:center;
    font-size:20px;
}
.death1{
	    
}




